{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(loginForm) }}
    {{ form_row(loginForm.username, {
        value: last_username,
    }) }}

    {{ form_row(loginForm.plainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn">Login</button>
    {{ form_end(loginForm) }}
{% endblock %}
