<form method="post" action="{{ path('app_matches_delete', {'id_match': match.id_match}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ match.id_match) }}">
    <button class="btn">Delete</button>
</form>
