{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



    <div class="example-wrapper">
        <h1>Hello {% if  app.user %} {{ app.user.username }} {% endif %} ! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/Users/coulbeaf/PhpstormProjects/Sae-S4.A.01/SaeA01/Framework/Symfony/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/Users/coulbeaf/PhpstormProjects/Sae-S4.A.01/SaeA01/Framework/Symfony/templates/home/login.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code>
            </li>
        </ul>
    </div>
{% endblock %}
